/*universal styling */ 
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mansalva&display=swap');
:root {
    --color-bg-main: #121614;
    --color-bg-containers: #151917;
    --color-primary: #7aa770;
    --color-text-color: #FFFFFF;
    --color-bg-button: #3B3B3B;
}
.light-mode {
    --color-bg-main: #F4F4F4;
    --color-bg-containers: #FFFFFF;
    --color-primary: #7aa770;
    --color-text-color: #1A1A1A;
    --color-bg-button: #E0E0E0;
}
*{
    margin:0;
    padding:0;
    font-family: 'Inter', Courier, monospace,'sans-serif';
    color: var(--color-text-color);
}


html, body {
    height: 100%;
    background-color: var(--color-bg-main);
}
main {
  display: grid;
  grid-template-rows: auto auto;
  gap: 5px;
  background-color: var(--color-bg-main);
  height: 100%;
}

/* Desktop layout */
@media (min-width: 968px) {
  main {
    grid-template-rows: none;
    grid-template-columns: 30% 70%;
  }
  #left-side-container {
    order: -1;
  }
}

#left-side-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    background-color: var(--color-bg-containers);
    border-radius : 50px;
    padding: 10px;
}
#right-side-container {
    border: 1px solid black;
    background-color: var(--color-bg-containers);
    border-radius: 50px;
    padding:10px;
    /*on mobile version, right side should be first(on top of left)*/
    order: -1;
}
/* nav bar styling */
nav {
    display: flex;
    justify-content: space-between;
}
#nav-bar-ul {
    display: flex;
    flex-direction: row;
    justify-content: center; /* make the links centered !!! */ 
    align-items: center;
    gap: 2px;
    font-size: 16px;
    font-weight : normal;
    list-style-type: none;
}
ul {
    list-style-type: none;
}
/*links - nav bar items */
#nav-bar-ul li a {
    display: block;      
    text-decoration: none;
    padding: 20px 20px;   
    border-radius: 20px;
           
}
.nav-link-active {
    background-color: var(--color-primary);
}
/*icons styling */

#right-side-icons {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}
#right-side-icons img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

/*pomodoro container styling */ 
#pomodoro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width:100%;
   flex-grow: 1;
}
#task-input-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}
/*#tasks-list {
    display: flex;
    border: 2px solid yellow;
    flex-direction: column;
} */
.completed-task {
    text-decoration : line-through;
    text-decoration-color: var(--color-primary);
    text-decoration-thickness: 20%;
    cursor: pointer;
}
input {
   outline: none;
   border: none;
}


#sections-group > section > input {
    outline:none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #cfd4ce;
    overflow: hidden;
}
#sections-group > section > input:focus {
    border-bottom: 2px solid var(--color-primary);
    transition: border-bottom-color 0.5s ease-in;
}

/* sounds tab */
#sounds-tab > section {
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 30px;
}
#sound , option{
    color: black;
    width: 50%;
}
#tasks-div {
    display:flex;
    gap: 1rem;
    margin-top: 10px;
    padding: 1rem;
}
#tasks-div img {
    cursor: pointer;
    /* fill: var(--color-text-color); */
}
#timer-display {
    font-size: 110px;
}
.hidden {
    display: none;
}
ul {
    text-decoration: none;
}
/*buttons styling */
.buttons-group {
    display: flex;
    gap: 1rem;
}

.button, .tab-button {
    background-color: var(--color-bg-button);
    padding:0.5rem 1.5rem;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}
.nav-item > a:hover, button:hover {
    background-color: var(--color-primary);
    transition : 1s linear;
}
/*progress bar styling */
#progress-container {
    width:250px;
    background-color:#D9D9D9;
    height:20px;
    border-radius : 20px;
    border:1px solid black;
    overflow: hidden; /* forces child element (progress-bar) to fit to parent's (container) shape*/ 
} 

#progress-bar {
    background-color:var(--color-primary);
    width:0%;
    height:20px;
    transition: width 1s linear;
} 

/* settings modal styling */
 #settings-modal {
   background-color: var(--color-bg-containers);
    width:400px; 
    padding: 40px;
    top: 50%; 
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 40px;
}
#settings-modal-container {
    display: flex;
    flex-direction: column;
    padding:10px;
}
#settings-options {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly; /* x axis*/
    padding: 10px;
    gap: 40px;        
}

#sections-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding:20px;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
section h4 {
    margin-bottom: 10px;
}
#settings-options > button {
    cursor: pointer;
}
.settings-headers-focus {
    background-color: transparent;
    border-bottom: 2px solid var(--color-primary);
    transition: border-bottom-color 0.3s linear;
}
#sounds-tab {
    margin: 20px;
}
.sounds-dropdown {
  width: 100%;
  padding: 8px 12px;
  font-size: 1rem;
  border: 1.5px solid #ccc;
  border-radius: 6px;
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
  outline: none;
  transition: border-color 0.3s ease;
}
option { 
    font-family: 'Inter', sans-serif;
}



footer { 
    background-color: var(--color-bg-main);
    display: flex;
    justify-content: flex-end;
}
/* figure out a way to make the icon have white*/
footer img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

